* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBox {
  display: flex;
  flex-direction: column;
  width: 90vw;
  
}

@media only screen and (min-width: 600px) {
  .formBox {
    width: 50vw;
  }
}

@media only screen and (min-width: 900px) {
  .formBox {
    width: 30vw;
  }
}

@media only screen and (min-width: 1200px) {
  .formBox {
    width: 30vw;
  } 
}

@media only screen and (min-width: 1800px) {
  .formBox {
    width: 20vw;
  }
}